/* A/B test styles */

#nr_register {
	clear: both;
	display: none;
}

	#nr_header {
		background: #e1eecc;
		background: -moz-linear-gradient(
			top,
			#f2f8e9 0%,
			#d1e6b3 100%
		);
		background: -webkit-gradient(
			linear, left top, left bottom,
			color-stop(0%,#f2f8e9),
			color-stop(100%,#d1e6b3)
		);
		border: 1px solid #0c9c4a;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		-moz-box-shadow: 0px 1px 3px rgba(0,0,0,.25);
		-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,.25);
		box-shadow: 0px 1px 3px rgba(0,0,0,.25);
		font-family: Verdana,Arial,sans-serif;
		font-size: 13px;
		font-weight: 700;
		line-height: 1;
		padding: 10px 15px;
		position: relative;
		z-index: 2;
	}
	
	#nr_body {
		background: #fcfcfc;
		border: 1px solid #cfcfd1;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		-moz-box-shadow: 0px 1px 3px rgba(0,0,0,.25);
		-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,.25);
		box-shadow: 0px 1px 3px rgba(0,0,0,.25);
		font-family: Verdana,Arial,sans-serif;
		margin: -20px 0 15px;
		padding: 15px;
		position: relative;
		z-index: 1;
	}
	
		#nr_reg {
			padding: 20px 0 0;
		}
	
			#nr_body .fl {
				float: left;
				font-size: 16px;
				width: 645px;
			}
			
				.ie6 #nr_body .fl {
					width: 640px;
				}
			
				#nr_body .fl p {
					color: #666;
					line-height: 1.3;
					margin-bottom: 10px;
				}
			
					#nr_body .fl .headline {
						color: #333;
						font-size: 23px;
						font-weight: 700;
					}
			
					#nr_body .fl .subline {
						color: #e44625;
						margin-bottom: 0;
					}
			
			#nr_body .fr {
				float: left;
				position: relative;
				width: 250px;
			}
			
				.reg_img {
					height: 90px;
					left: 0;
					position: absolute;
					top: 13px;
					width: 60px;
					z-index: 2;
				}
				
					.ie6 .reg_img {
						display: none;
					}
				
				.reg_box {
					background: #fcfcfc;
					background: -moz-linear-gradient(
						top,
						#fafafa 0%,
						#ededee 100%
					);
					background: -webkit-gradient(
						linear, left top, left bottom,
						color-stop(0%,#fafafa),
						color-stop(100%,#ededee)
					);
					border: 1px solid #cfcfd1;
					-moz-border-radius: 5px;
					-webkit-border-radius: 5px;
					border-radius: 5px;
					-moz-box-shadow: 0px 1px 3px rgba(0,0,0,.25);
					-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,.25);
					box-shadow: 0px 1px 3px rgba(0,0,0,.25);
					margin-left: 53px;
					padding: 10px;
					position: relative;
					width: 250px;
					z-index: 1;
				}
				
					.reg_box p {
						font-size: 13px;
						font-weight: 700;
						text-align: center;
					}
					
						.reg_box .buttonHolder {
							margin: 30px 0 25px;
						}
	
							#regButton {
								background: #6a90c1;
								background: -moz-linear-gradient(
									top,
									rgba(137,166,201,1),
									rgba(110,146,191,1)
								);
								background: -webkit-gradient(
									linear, 0% 0%, 0% 100%,
									from(rgba(137,166,201,1)),
									to(rgba(110,146,191,1))
								);
								border: 3px solid rgba(110,146,191,1);
								-moz-border-radius: 20px;
								-webkit-border-radius: 20px;
								-moz-box-shadow:
									0px 1px 2px rgba(0,0,0,.5),
									inset 0px 3px 2px rgba(255,255,255,.75)
								;
								-webkit-box-shadow:
									0px 1px 2px rgba(0,0,0,.5),
									inset 0px 3px 2px rgba(255,255,255,.75)
								;
								color: #fff;
								font-size: 24px;
								line-height: 1;
								outline: 0;
								padding: 15px 20px;
								text-decoration: none;
								text-shadow: 0px 0px 3px rgba(0,0,0,.75);
							}
							
								#regButton:hover {
									background: -moz-linear-gradient(
										bottom,
										rgba(137,166,201,1),
										rgba(110,146,191,1)
									);
									background: -webkit-gradient(
										linear, 0% 100%, 0% 0%,
										from(rgba(137,166,201,1)),
										to(rgba(110,146,191,1))
									);
								}
							
								#regButton:active,
								#regButton:focus {
									-moz-box-shadow: 0px 0px 2px rgba(0,0,0,.5);
									-webkit-box-shadow: 0px 0px 2px rgba(0,0,0,.5);
									outline: none;
									position: relative;
									top: 1px;
								}
	
#nr_closed {
	clear: both;
	display: none;
}

	#nr_closedbar {
		background: #fff9b7;
		background: -moz-linear-gradient(
			top,
			#fffcd8 0%,
			#fff795 100%
		);
		background: -webkit-gradient(
			linear, left top, left bottom,
			color-stop(0%,#fffcd8),
			color-stop(100%,#fff795)
		);
		border: 1px solid #e44625;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		-moz-box-shadow: 0px 1px 3px rgba(0,0,0,.25);
		-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,.25);
		box-shadow: 0px 1px 3px rgba(0,0,0,.25);
		font-family: Verdana,Arial,sans-serif;
		font-size: 13px;
		font-weight: 700;
		margin-top: 15px;
		padding: 10px 15px;
		position: relative;
		z-index: 2;
	}
	
		#nr_closedbar span {
			background: url('/images/closed_warning.png') left center no-repeat;
			padding-left: 28px;
		}
	
			.ie6 #nr_closedbar span {
				background: none;
				padding-left: 0;
			}
	
	#nr_closedauc {
		background: #fcfcfc;
		border: 1px solid #cfcfd1;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		-moz-box-shadow: 0px 1px 3px rgba(0,0,0,.25);
		-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,.25);
		box-shadow: 0px 1px 3px rgba(0,0,0,.25);
		font-family: Verdana,Arial,sans-serif;
		margin: -20px 0 15px;
		padding: 20px 15px 15px;
		position: relative;
		z-index: 1;
	}
	
		#nr_closedauc p {
			font-size: 13px;
			font-weight: 700;
		}
	
		#nr_closedauc ul {
			display: table;
			list-style: none;
			margin: 10px 0 0;
			width: 100%;
		}
	
		#nr_closedauc li {
			display: table-cell;
			padding: 10px 10px 5px;
			min-width: 140px;
			text-align: center;
		}
		
			.ie6 #nr_closedauc li,
			.ie7 #nr_closedauc li {
				display: block;
				float: left;
				width: 140px;
			}
	
			.imageClass {
				margin: 0 auto 10px;
			}
	
				.imageClass img {
					border: 1px solid rgb(255, 255, 255);
					cursor: pointer;
					height: 118px;
					width: 118px;
				}
	
	
			#nr_closedauc li p {
				font-size: 10px;
				font-weight: 400;
				margin-bottom: 3px;
			}
	
				#nr_closedauc li p a {
					font-weight: 700;
				}

.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; visibility: hidden; } 
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* Tweaks to existing styles */

.subBody {
	padding-top: 0;
}

.breadCrumbContainer {
	margin: 10px 0;
}