.sellerKPI .rank_0{
    background:transparent url("/images/bar_00.gif") no-repeat scroll;
    height:8px;
    width:49px;
    margin-top:2px;
}
.sellerKPI .rank_10{
    background:transparent url("/images/bar_10.gif") no-repeat scroll;
    height:8px;
    width:49px;
    margin-top:2px;
}
.sellerKPI .rank_20{
    background:transparent url("/images/bar_20.gif") no-repeat scroll;
    height:8px;
    width:49px;
    margin-top:2px;
}
.sellerKPI .rank_30{
    background:transparent url("/images/bar_30.gif") no-repeat scroll;
    height:8px;
    width:49px;
    margin-top:2px;
}
.sellerKPI .rank_40{
    background:transparent url("/images/bar_40.gif") no-repeat scroll;
    height:8px;
    width:49px;
    margin-top:2px;
}
.sellerKPI .rank_50{
    background:transparent url("/images/bar_50.gif") no-repeat scroll;
    height:8px;
    width:49px;
    margin-top:2px;
}
.sellerKPI .rank_60{
    background:transparent url("/images/bar_60.gif") no-repeat scroll;
    height:8px;
    width:49px;
    margin-top:2px;
}
.sellerKPI .rank_70{
    background:transparent url("/images/bar_70.gif") no-repeat scroll;
    height:8px;
    width:49px;
    margin-top:2px;
}
.sellerKPI .rank_80{
    background:transparent url("/images/bar_80.gif") no-repeat scroll;
    height:8px;
    width:49px;
    margin-top:2px;
}
.sellerKPI .rank_90{
    background:transparent url("/images/bar_90.gif") no-repeat scroll;
    height:8px;
    width:49px;
    margin-top:2px;
}
.sellerKPI .rank_100{
    background:transparent url("/images/bar_100.gif") no-repeat scroll;
    height:8px;
    width:49px;
    margin-top:2px;
}
