/* BODY */
BODY   { font: 12px Arial, Helvetica, sans-serif; background: white }
.leftnav { color: white; font-size: 16px; font-family: Arial, Helvetica, sans-serif; font-weight: bold }
/* /BODY */


/* TABLES */
TABLE  { font: 12px Arial, Helvetica, sans-serif }

	TD {
		font: normal 12px Arial,Helvetica,sans-serif
	}

/* /TABLES */


/* LINKS */
.menulink { color: white; font-size: 8pt; font-family: sans-serif, Verdana, Arial, Helvetica, sans-serif; font-weight: bold; text-decoration: none }
.menulink_on { color: silver; font-size: 8pt; font-family: sans-serif, Verdana, Arial, Helvetica, sans-serif; font-weight: bold; text-decoration: none }
A { color: #004d8a }
.ablack { color: black; font-size: 12px; font-family: Arial, Helvetica, sans-serif; font-weight: bold; text-decoration: underline }
A:active {
		color: #004D8A
	}
A.w {
		font-weight: bold;
		color: #ffffff
	}

	A.w:visited {
		font-weight: bold;
		color: #ffffff
	}

	A.w:active {
		font-weight: bold;
		color: #ffffff
	}

	A.w:hover {
		font-weight: bold;
		color: #ffffff
	}

	.no {
		text-decoration: none
	}

/* /LINKS */


/* FONTS */

	.arial7Black {
		font: normal 9px Arial,Helvetica,sans-serif;
		color: #000000
	}

	.arial9Black {
		font: normal 9px Arial,Helvetica,sans-serif;
		color: #000000
	}

	.arial10Black {
		font: normal 10px Arial,Helvetica,sans-serif;
		color: #000000
	}

	.arial11Black {
		font: normal 11px Arial,Helvetica,sans-serif;
		color: #000000
	}

	.arial11Blackbullet {
		font: normal 11px Arial,Helvetica,sans-serif;
		color: #000000;
		list-style-position: inside
	}

	.arial12Black {
		font: normal 12px Arial,Helvetica,sans-serif;
		color: #000000
	}

	.arial12BlackBold {
		font: bold 12px Arial,Helvetica,sans-serif;
		color: #000000
	}

	.arial16BlackBold {
		font: bold 16px Arial,Helvetica,sans-serif;
		color: #000000
	}
.arial14Black { color: #000000; font: bold 14px Arial, Helvetica, sans-serif }
.arial10WhiteBold {
		font: bold 10px Arial,Helvetica,sans-serif;
		color: #FFFFFF
	}

	.arial12White {
		font: normal 12px Arial,Helvetica,sans-serif;
		color: #FFFFFF
	}

	.arial12WhiteBold {
		font: bold 12px Arial,Helvetica,sans-serif;
		color: #FFFFFF
	}

	.arial12WhiteBoldw {
		font: bold 12px Arial,Helvetica,sans-serif;
		color: #FFFFFF;
		letter-spacing: .5px
	}

	.arial14WhiteBold {
		font: bold 14px Arial,Helvetica,sans-serif;
		color: #FFFFFF
	}

	.arial16WhiteBold {
		font: bold 16px Arial,Helvetica,sans-serif;
		color: #FFFFFF
	}

	.arial9Blue {
		font: normal 9px Arial,Helvetica,sans-serif;
		color: #0075ba
	}

	.arial10Blue {
		font: normal 10px Arial,Helvetica,sans-serif;
		color: #0075ba
	}

	.arial12Blue {
		font: normal 12px Arial,Helvetica,sans-serif;
		color: #005a91
	}

	.arial12BlueBold {
		font: bold 12px Arial,Helvetica,sans-serif;
		color: #005a91
	}

	.arial14Blue {
		font: normal 14px Arial,Helvetica,sans-serif;
		color: #005a91
	}

	.arial14BlueBold {
		font: bold 14px Arial,Helvetica,sans-serif;
		color: #005a91
	}

	.arial16BlueBold {
		font: bold 16px Arial,Helvetica,sans-serif;
		color: #005a91
	}

	.arial16BlueBolder {
		font: bolder 18px Arial,Helvetica,sans-serif;
		color: #005a91
	}

	.arial12BrightRed {
		font: normal 12px Arial,Helvetica,sans-serif;
		color: #ff0000
	}

	.arial12RedBold {
		font: bold 12px Arial,Helvetica,sans-serif;
		color: #660000
	}

	.arial14RedBold {
		font: bold 14px Arial,Helvetica,sans-serif;
		color: #660000
	}

	.arial12orangeB {
		font: bold 12px Arial,Helvetica,sans-serif;
		color: #C84202
	}

	.veranda10GreyBold {
		font: bold 10px Verdana,Arial,Helvetica,sans-serif;
		color: #666666
	}

	.veranda12GreyBold {
		font: bold 12px Verdana,Arial,Helvetica,sans-serif;
		color: #666666
	}

	.veranda12BlueBold {
		font: bold 12px Verdana,Arial,Helvetica,sans-serif;
		color: #005a91
	}

	.veranda14WhiteBold {
		font: bold 14px Verdana,Arial,Helvetica,sans-serif;
		color: #FFFFFF
	}

	.hotDeal {
		color: #004D8A;
	}

	.ad {
		font: bold 11px Verdana,Arial,Helvetica,sans-serif;
		width: 600px
	}

	.helv14WhiteBold {
		font: bold 14px Geneva,Arial,Helvetica,sans-serif;
		color: #FFFFFF
	}

/* /FONTS */
.title { color: black; font-size: 16px; font-family: Arial, Helvetica, sans-serif; font-weight: bold }
.tdoff { color: white; font-size: 11px; font-family: Arial, Helvetica, sans-serif; font-weight: bold; background-color: #095aa6 }
.tdon { color: silver; font-size: 11px; font-family: Arial, Helvetica, sans-serif; font-weight: bold; background-color: #095aa6 }
.tdoff  { color: white; font-size: 11px; font-family: Arial, Helvetica, sans-serif; text-decoration: none; text-align: center }
.tdon { color: silver; font-size: 9px; font-family: Arial, Helvetica, sans-serif; text-decoration: none; text-align: center }
.ablue { color: #095aa6; font-size: 12px; font-family: Arial, Helvetica, sans-serif; font-weight: bold; text-decoration: none }
.ablue1 { color: #095aa6; font-size: 12px; font-family: Arial, Helvetica, sans-serif; font-weight: bold; text-decoration: none }
.abluehover { color: red; font-size: 12px; font-family: Arial, Helvetica, sans-serif; font-weight: bold; text-decoration: none }
.awhite { color: white; font-size: 12px; font-family: Arial, Helvetica, sans-serif; font-weight: bold; text-decoration: none }
.title1 { color: black; font-size: 18px; font-family: Arial, Helvetica, sans-serif; font-weight: bold }
.title2 { color: white; font-size: 16px; font-family: Arial, Helvetica, sans-serif; font-weight: bold }
.arial12 { color: black; font-size: 12px; font-family: Arial, Helvetica, sans-serif }
.arial13 { color: black; font-size: 12px; font-family: Arial, Helvetica, sans-serif; font-weight: bold }
.arial10 { color: black; font-size: 10px; font-family: Arial, Helvetica, sans-serif; font-weight: bold }
.arial9 { color: black; font-size: 9px; font-family: Arial, Helvetica, sans-serif }
.arial10w { color: white; font-size: 11px; font-family: Arial, Helvetica, sans-serif; font-weight: bold }
.arial14 { color: black; font-size: 14px; font-family: Arial, Helvetica, sans-serif; font-weight: bold }
.arial14w { color: white; font-size: 12px; font-family: Arial, Helvetica, sans-serif; font-weight: bold }
.arial16 { color: black; font-size: 16px; font-family: Arial, Helvetica, sans-serif; font-weight: bold }
a.ablue1:hover  { color: #000 }

h1 {font-size:12px; margin:0 0 0 5px; font-family:arial;}

/* auction/view */
.seller_information { display: none; }

