/*------------------------------------------------------------------------------------------------
[Master Stylesheet]
Site:				Liquidation.com
Project:			Buyer UX
Author:				Scott McCaughey

[Colors]
Dark Blue			#0055a4
Dark Orange			#db812d
Black				#111
Dark Grey			#393939
Medium Grey			#d3d3d3
Medium Light Grey	#e8e9ea
Light Grey			#f0f0f0
White				#fff

[Table of Contents]
1.	Reset
2.	General
3.	Specific
4.	Header				#header
5.	Footer				#footer
6.	Sidenav				#sidenav
7.	Content				#content
99.	Clear Floats
-------------------------------------------------------------------------------------------------*/

@import "uni-form.css";

/*------------------------------------------------------------------------------------------------
1.	Reset
-------------------------------------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

:focus {
	outline: 0;
}

img {
	display: inline-block;
}

ins {
	text-decoration: none;
}

del {
	text-decoration: line-through;
}

sub {
	font-size: .7em;
	vertical-align: sub;
}

sup {
	font-size: .7em;
	vertical-align: super;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*------------------------------------------------------------------------------------------------
2.	General
-------------------------------------------------------------------------------------------------*/

body {
    background: #fff;
    border: 0;
    color: #393939;
    font-family: Verdana, sans-serif;
    font-size: 13px;
	line-height: 150%;
    margin: 10px auto;
    padding: 0;
    width: 1000px;
}

a {
	color: #0055a4;
	text-decoration: none;
}

	a:hover {
		color: #db812d;
		text-decoration: underline;
	}

b,
strong {
	font-weight: bold;
}

h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
}

	h2 {
		font-size: 14px;
	}

	h3 {
		font-size: 13px;
	}

	h4 {
		font-size: 13px;
	}

	h5 {
		font-size: 13px;
	}

	h6 {
		font-size: 13px;
	}

i,
em {
	font-style: italic;
}

ol,
ul {
	margin: 0 0 20px 30px;
}

	ol {
		list-style-type: decimal;
	}
	
	ul {
		list-style-type: disc;
	}

p,
li,
td,
th {
	margin-bottom: 20px;
	line-height: 150%;
}

/*------------------------------------------------------------------------------------------------
3.	Specific
-------------------------------------------------------------------------------------------------*/

#fuploads {
	margin: 0;
}

#fuploads li {
	list-style: none;
	margin: 2px 0;
	padding: 0;
}

#invoiceform {
	border-bottom: 1px solid #000;
}

#invoice_top,
#invoice {
	border-top: 1px solid #000;
	font-size: 12px;
	margin: 10px 0;
	width: 100%;
}

	#invoice_top td{
		padding-bottom: 10px;
	}

	#invoice td,
	#invoice th {
		padding: 10px;
	}
	
		#invoice_top td.subth,
		#invoice td.subth {
			font-weight: bold;
			white-space: nowrap;
		}

	#invoice_top th {
		font-size: 14px;
		font-weight: bold;
		padding: 10px 0 20px;
		width: 50%;
	}

	#invoice th {
		padding-top: 20px;
		white-space: nowrap;
	}

#protabs {
	border-bottom: 1px solid #d3d3d3;
	margin: 0;
}

	#protabs li {
		display: block;
		float: left;
		list-style: none;
		margin: 0 5px 0 0;
		padding: 0;
		width: 149px;
	}
	
		#protabs li#cctab {
			margin: 0;
		}
	
		#protabs li a {
			background: url('/shared/bu/images/pro_tab.gif') no-repeat;
			color: #111;
			display: block;
			font-size: 12px;
			font-weight: bold;
			height: 27px;
			line-height: 25px;
			list-style: none;
			text-align: center;
			text-decoration: none;
			width: 149px;
		}

			#protabs li a:hover {
				background: url('/shared/bu/images/pro_tab_on.gif') no-repeat;
			}

			#protabs li.protabon a {
				background: url('/shared/bu/images/pro_tab_sel.gif') no-repeat;
				height: 28px;
				line-height: 26px;
				margin-bottom: -1px;
			}

.ac {
	text-align: center;
}

.acall {
	border-top: 1px solid #d3d3d3;
	font-weight: bold;
	margin: 10px 0;
	padding-top: 10px;
}

.greystripe.agenttable td,
.greystripe.agenttable th {
	vertical-align: top;
}

	.agenttable td .bbut {
		margin: 5px;
	}

	.agenttable th h4 {
	text-align: left;
	}

	.agenttable th h5 {
		color: #393939;
		font-size: 10px;
		font-weight: normal;
		line-height: 15px;
		margin-top: 5px;
	}

	.agenttable td ul,
	.agenttable td ul li {
		font-size: 11px;
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: left;
	}

.ar {
	text-align: right;
}

.bbut {
	background: url('/shared/bu/images/button_blue.gif') 0 0 no-repeat;
	display: inline-block;
	margin: 0 5px;
	text-decoration: none !important;
	white-space: nowrap;
}

	.bbut span {
		background: url('/shared/bu/images/button_blue.gif') 100% 0 no-repeat;
		color: #193687;
		display: inline-block;
		font-size: 11px;
		font-weight: bold;
		height: 23px;
		line-height: 23px;
		margin-left: 6px;
		padding: 0 10px 0 4px;
	}

	.bbut:hover {
		background: url('/shared/bu/images/button_blue.gif') 0 -27px no-repeat;
		text-decoration: none;
	}

		.bbut span:hover {
			background: url('/shared/bu/images/button_blue.gif') 100% -27px no-repeat;
		}

.dialogButtons {
	margin-bottom: 0;
}

	.dialogButtons a {
		display: inline-block;
		float: left;
	}

.greystripe tbody .attention td.auctionstatus,
.greystripe tbody .paynow td.auctionstatus {
	font-weight: bold;
}

.greystripe tfoot td.bidauction {
	text-align: center;
}

.greystripe tbody td.bidauction {
	font-style: italic;
	font-weight: normal;
	padding: 0 10px;
	white-space: nowrap;
}

	.greystripe tbody td.bidauction.error {
		background: #ffdfdf;
		border: 2px solid #df7d7d;
		color: #333;
	}

	.greystripe tbody td.bidauction input,
	.greystripe tbody td.bidauction label,
	.greystripe tbody td.bidauction p {
		margin: 3px 0;
	}
	
	.greystripe tbody td.bidauction label {
		display: block;
		text-align: left;
		white-space: normal;
	}
	
		.greystripe tbody td.bidauction.error label {
			font-style: normal;
			font-weight: bold;
		}

	.greystripe tbody .losing td.auctionname,
	.greystripe tbody .losing td.bidauction {
		font-weight: bold;
	}

.greystripe tbody td.bidalert,
.greystripe thead th.bidalert {
	border-right: 0;
	padding: 0;
	width: 5px;
}

	.greystripe tbody .paynow td.bidalert,
	.greystripe tbody .losing td.bidalert {
		background: #ea2933;
	}
	
	.greystripe tbody .attention td.bidalert {
		background: #0055a4;
	}

	.greystripe tbody .winning td.bidalert {
		background: #093;
	}

.greystripe tbody td.timeleft,
.greystripe thead th.timeleft {
	border-right: 0;
}

.bigbut {
	background: url('/shared/bu/images/button_blue.gif') 0 -108px no-repeat;
	display: inline-block;
	margin: 15px 0;
	text-decoration: none !important;
}

	.bigbut span {
		background: url('/shared/bu/images/button_blue.gif') 100% -108px no-repeat;
		color: #193687;
		display: inline-block;
		font-size: 12px;
		font-weight: bold;
		height: 33px;
		line-height: 30px;
		margin-left: 6px;
		padding: 0 30px 0 24px;
	}

	.bigbut:hover {
		background: url('/shared/bu/images/button_blue.gif') 0 -145px no-repeat;
		text-decoration: none;
	}

		.bigbut span:hover {
			background: url('/shared/bu/images/button_blue.gif') 100% -145px no-repeat;
		}

.bigbox {
	background: url('/shared/bu/images/bigbox_t.gif') no-repeat;
	width: 765px;
}

	.bigbox_m {
		background: url('/shared/bu/images/bigbox_m.gif') 0 100% repeat-y;
		width: 765px;
	}

	.bigbox_m .bigbox_b {
		padding: 20px 15px;
	}

	.bigbox_b {
		background: url('/shared/bu/images/bigbox_b.gif') 0 100% no-repeat;
		padding: 10px 15px;
		width: 735px;
	}

.boxy {
	border: 1px solid #d3d3d3;
	margin-bottom: 20px;
}

	.boxy p {
		margin: 10px 20px;
	}
	
	.boxy em {
		color: #db812d;
		font-style: normal;
		font-weight: bold;
	}
	
	.boxy ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

		.boxy ul li {
			list-style: none;
			margin: 10px 20px;
			padding: 0;
		}

		.boxy ul p {
			margin: 0;
		}

		.boxy ul li ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}
	
			.boxy ul li ul li {
				list-style: disc;
				margin: 10px 20px;
				padding: 0;
			}

.dialog {
	padding-bottom: 10px;
	text-align: center;
}

	.dialog form {
		display: inline;
		padding: 20px;
	}
	
	.dialog p {
		font-weight: bold;
		margin: 20px 0;
	}
	
		.dialog p em {
			background-color: #db812d;
			color: #fff;
			font-style: normal;
			padding: 3px;
		}

.formok {
	margin: 10px 0 15px;
}

.greybox {
	background: #f0f0f0;
	border: 1px solid #e8e9ea;
	padding: 15px 15px 0;
}

	#content h2 + .greybox,
	#content h2 + .greystripe {
		margin-top: 0;
	}

.greystripe {
	border: 1px solid #e8e9ea;
	margin: 10px 0 25px;
	width: 100%;
}

	.headholder + .greystripe {
		margin: 0 0 25px;
	}

	.greystripe td,
	.greystripe th {
		padding: 5px 10px;
		vertical-align: middle;
	}

	.greystripe tfoot td {
		background: #fff;
		border-top: 1px solid #e8e9ea;
		font-size: 11px;
		padding: 7px 10px 5px;
		text-align: left;
	}

	.watchlist tfoot td {
		background: #ddd;
	}

	.greystripe thead th,
	.greystripe tbody td {
		font-size: 10px;
		font-weight: normal;
		padding: 5px 10px;
		text-align: center;
	}

	.greystripe thead th {
		background: url('/shared/bu/images/thead.gif') #e9eaeb repeat-x;
		white-space: nowrap;
	}

		.greystripe thead th.auctionstatus,
		.greystripe tbody td.auctionstatus {
			border-right: none;
		}
	
		.greystripe thead th.auctionname,
		.greystripe tbody td.auctionname {
			text-align: left;
			white-space: normal;
		}

		.greystripe tbody td.transstatus {
			white-space: nowrap;
		}
	
		.greystripe thead th a {
			color: #333;
		}

		.greystripe thead th a:hover {
			color: #0055a4;
		}

			.greystripe thead th.thissortdn a {
				background: url('/shared/bu/images/arrow_dn.gif') 100% center no-repeat;
				padding-right: 12px;
			}

			.greystripe thead th.thissortup a {
				background: url('/shared/bu/images/arrow_up.gif') 100% center no-repeat;
				padding-right: 12px;
			}

	.greystripe tbody tr td {
		background: #f0f0f0;
	}

		.greystripe tr.odd .bbut {
			background: url('/shared/bu/images/button_blue.gif') 0 0 no-repeat;
		}
		
			.greystripe tr.odd .bbut span {
				background: url('/shared/bu/images/button_blue.gif') 100% 0 no-repeat;
			}
		
			.greystripe tr.odd .bbut:hover {
				background: url('/shared/bu/images/button_blue.gif') 0 -27px no-repeat;
			}
		
				.greystripe tr.odd .bbut span:hover {
					background: url('/shared/bu/images/button_blue.gif') 100% -27px no-repeat;
				}

		.greystripe tbody tr.odd td {
			background: #fff;
		}
	
			.greystripe tr .bbut {
				background: url('/shared/bu/images/button_blue.gif') 0 -54px no-repeat;
			}
			
				.greystripe tr .bbut span {
					background: url('/shared/bu/images/button_blue.gif') 100% -54px no-repeat;
				}
			
				.greystripe tr .bbut:hover {
					background: url('/shared/bu/images/button_blue.gif') 0 -81px no-repeat;
				}
			
					.greystripe tr .bbut span:hover {
						background: url('/shared/bu/images/button_blue.gif') 100% -81px no-repeat;
					}

.prostripe tbody td {
	font-size: 11px;
	font-weight: bold;
}

.hidden {
	display: none;
}

.paynow td a,
.losing td a {
	color: #ea2933;
}

	.paynow td a:hover,
	.losing td a:hover {
		color: #111;
	}

div.rowOverlay {
	background-color: #bbb;
	color: #000;
	filter: alpha(opacity=75);
	font-size: 13px;
	font-weight: bold;
	opacity: 0.75;
	-khtml-opacity: 0.75;
	-moz-opacity: 0.75;
	position: absolute;
	text-align: center;
	vertical-align: middle;
	z-index: 10;
}

.sm {
	font-size: 11px;
}

.trans {
	background: url('/shared/bu/images/thead.gif') #e9eaeb repeat-x;
}

.winning td a {
	color: #093;
}

	.winning td a:hover {
		color: #111;
	}

/*------------------------------------------------------------------------------------------------
6.	Sidenav				#sidenav
-------------------------------------------------------------------------------------------------*/

#sidenav {
	background: url('/shared/bu/images/leftnav_bottom.gif') 0 100% no-repeat;
	float: left;
	margin: 10px 0 15px;
	padding: 0 0 3px;
	width: 220px;
}

	#sidenav h2 {
		background: url('/shared/bu/images/leftnav_top.gif') no-repeat;
		font-size: 12px;
		height: 27px;
		line-height: 27px;
		padding: 0 15px;
	}

	#sidenav h3 {
		background: url('/shared/bu/images/leftnav_sub.gif') no-repeat;
		font-size: 11px;
		height: 25px;
		line-height: 23px;
		padding: 0 15px;
		border-style: solid;
		border-color : #d6d6d6;
		border-width: 0 1px;
	}
	
	#sidenav ul {
		background-color: #e0e9ee;
		border-left: 1px solid #d5d5d5;
		border-right: 1px solid #d5d5d5;
		list-style: none;
		margin: 0;
		padding: 10px 15px 15px;
	}

		#sidenav ul li {
			font-size: 11px;
			list-style: none;
			margin: 0;
			padding: 0 0 3px;
		}

			#sidenav ul li a {
				color: #111;
			}

/*------------------------------------------------------------------------------------------------
7.	Content				#content
-------------------------------------------------------------------------------------------------*/

#content {
	float: left;
	margin: 10px 0 15px 15px;
	width: 765px;
}

	#content a {
		text-decoration: underline;
	}

	#content h2 {
		margin-bottom: 10px;
	}

		#content h2.rule {
			border-bottom: 1px solid #d3d3d3;
			padding-bottom: 10px;
		}

	#content h2 + h3 {
		border-bottom: 1px solid #d3d3d3;
		font-weight: normal;
		margin: -10px 0 10px;
		padding-bottom: 10px;
	}
	
		#content .headholder h2,
		#content .topholder h2 {
			float: left;
			width: 49%;
		}

			#content .topholder h2 {
				width: 79%;
			}

		#content .headholder h2 + h3,
		#content .topholder h2 + h3 {
			border-bottom: none;
			float: right;
			font-size: 11px;
			font-weight: normal;
			margin: 0 0 10px;
			padding-bottom: 0;
			text-align: right;
			width: 49%;
		}

			#content .topholder h2 + h3 {
				width: 19%;
			}

	#content h3 span {
		font-weight: normal;
	}

	#content form h4 {
		font-size: 10px;
		font-weight: normal;
		margin: 0 0 10px;
	}

/*------------------------------------------------------------------------------------------------
98.	style.css Fixes
-------------------------------------------------------------------------------------------------*/

.header {
    font-size: 11px;
    padding-top: 0;
}

#logo h1 {
	float: none;
}

.customselectDiv {
	margin-right: 10px !important;
}

.advancedSearchLink a:hover,
.categoryListLink a:hover {
	color: #333;
}

.searchBtn {
	vertical-align: middle;
}

.header .topMenuContainer .topMenuMiddle .links {
    padding: 6px 10px 2px 10px;
}

.myaccountList ul {
	margin: -10px 0 0;
}

.footerContainer .listItems label {
	line-height: 140%;
}

.footerContainer p {
	margin: 0 0 0 10px;
}

.footerMiddle ul {
	margin: 0;
}

.myaccountList ul li,
.footerMiddle ul li {
	margin: 0;
}

.footerMiddle td {
	vertical-align: middle;
}

.copyRightInfoContainer p {
	margin-bottom: 0;
}

ul.list,
li.item {
	margin-bottom: 0;
}

#cardFormDiv,
#cardFormDiv #errorMsg {
	display: none;
}

#address_div {
	width: 380px;
}

#address_div p {
	clear: both;
	margin-bottom: 0;
}

.creditCardAddressDiv {
	float: left;
	margin-bottom: 20px !important;
	width: 50%;
}

.creditCardAddressDiv input {
	display: block;
	float: left;
	margin-top: 8px;
}

.creditCardAddressDiv label {
	display: block;
	float: left;
	font-size: 12px;
	line-height: 150% !important;
	margin-left: 5px !important;
	width: 80% !important;
}

.errorMsgCardC {
	background: #FFDFDF none repeat scroll 0 0;
	border-color: #DF7D7D;
	border-style: solid;
	border-width: 1px 0;
	margin: 0 0 1.5em;
	padding: 7px;
}

/*------------------------------------------------------------------------------------------------
99.	Clear Floats
-------------------------------------------------------------------------------------------------*/

.clrform,
.dialogButtons {
	display: inline-block;
}

#footer:after,
#header:after,
#main:after,
#nav ul:after,
#protabs:after,
.buttonwrapper:after,
.clrform:after,
.dialogButtons:after,
.joinholder:after,
.headholder:after,
.topholder:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.switch-block {
	width: 100%;
	text-align:right;
	margin-bottom:5px;
	font-size: 11px;
}
#myAccountOverlayMessage  {
	padding : 10px 20px !important;
	background:#FEF8CC;
	border:1px solid #FEDA6D;
}
#myAccountOverlayMessage label {
	font-size:14px;
	font-weight:bold;
	color:black;
	white-space:nowrap;
	background-position: 0 50%;
}
.ajax-loader {
	padding-left: 20px;
	background: url( "/shared/bu/images/ajax-loader.gif" ) no-repeat 0 0;
	font-size: 11px;
	font-weight: normal;
}

.ui-dialog {
	padding: 0 !important;
	background: transparent !important;
	border: 0 !important;
}

.ui-dialog .ui-dialog-titlebar {
	display: none !important;
}

.ui-dialog .ui-dialog-content {
	margin: 0 !important;
	padding: 0 !important;
}

.display-hidden {
	display: none !important;
}

#watchlists_popup {
	position: absolute;
	display: none;
}
